.keyboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  row-gap: 1vh;
}

.keyboard-line {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.keyboard-line__key,
.keyboard-line__key_pressed {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  border: 1px solid #3b2114;
  text-align: center;
  font-size: 3.5rem;
  cursor: pointer;
}

.keyboard-line__key:hover {
  background-color: #736161;
  color: #f3f3f3;
}

.keyboard-line__key:active,
.keyboard-line__key_pressed {
  box-shadow: 0px 0px 10px 9px #3b211466 inset;
}

@media screen and (min-width <= 768px) and (max-width < 1440px) {
  .keyboard-line {
    display: flex;
    flex-wrap: wrap;
    gap: unset;
    justify-content: space-evenly;
  }
  .keyboard-line__key,
  .keyboard-line__key_pressed {
    width: 4vw;
    height: 4vw;
    font-size: 2.5vw;
  }
}

@media screen and (min-width <= 360px) and (max-width < 768px) {
}
