.content {
  height: 80vh;
  min-height: 44rem;
  width: 100%;
  background-color: #f3f3f3;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  box-shadow: 3px 0px 44px 18px #00000040;

  padding: 2rem 4rem;
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
  align-items: center;
}

.attempts {
  text-align: center;
}

.answer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 0.5fr));
  gap: 2vw;
  justify-content: space-evenly;
}

.symbol__letter {
  font-size: 5rem;
  text-align: center;
}

.symbol__letter_hidden {
  visibility: hidden;
}

.symbol__underscore {
  height: 0.5rem;
  background-color: #3b2114;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .content {
    padding: 2vh 3vw;
  }

  .answer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

  .symbol__underscore,
  .symbol__letter {
    width: 4vw;
    font-size: 4vw;
  }
}

@media (min-height: 1000px) {
  .content {
    height: 80rem;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .content {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 2vw;
    height: 45%;
    min-height: 30rem;
  }
}
