:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

.main {
  margin-top: 4rem;
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  height: calc(100vh - 8rem);
  align-items: center;
  gap: 5rem;
  overflow: hidden;
}

.main__image {
  background-image: url("../assets/img/gallows.png");
  background-repeat: no-repeat;
  height: calc(100vh - 12rem);
  background-position: center;
  background-size: contain;
  min-height: 44rem;
  text-align: center;
}

.hangman {
  margin-top: 4rem;
  max-width: 100%;
  height: 100%;
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  h2 {
    font-size: 2.5vh;
  }

  .main {
    grid-template-columns: 1fr;
    align-items: baseline;
  }

  .main__image {
    height: unset;
    padding-top: 2vh;
  }

  .hangman {
    margin-top: 0;
  }
}
