:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

.main {
  margin-top: 6rem;
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  height: calc(100vh - 8rem);
  align-items: center;
  gap: 5rem;
}

.main__image {
  background-image: url("../assets/img/gallows.png");
  background-repeat: no-repeat;
  height: calc(100vh - 12rem);
  background-position: center;
  background-size: contain;
}

.hangman {
  margin-top: 15rem;
}

.button {
  border-radius: 5px;
  border: 1px solid #3b2114;
  text-align: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.button:hover {
  background-color: #736161;
  color: #f3f3f3;
}

.button:active {
  box-shadow: 0px 0px 10px 9px #3b211466 inset;
}
