:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.6rem;
}

h2 {
  font-size: 2.4rem;
}

.main {
  margin-top: 6rem;
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  height: calc(100vh - 8rem);
  align-items: center;
  gap: 5rem;
}

.main__image {
  height: calc(100vh - 12rem);
}
